/* style de la navbar = du menu et de la 1ère page d'accueil (index.php) */ 


ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font: 17px "CocoSharp Trial";
    src: url("polices/Coco-Sharp-Bold-trial.ttf");
  }
  
  li 
  {
    float: left;
  }
  
  li a 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  /* Change the link color to #111 (black) on hover */
  li a:hover 
  {
    background-color: #111;
  }


  li 
  {
    border-right: 1px solid #bbb;
  }
  

  li:last-child 
  {
    border-right: none;
  }


  .active 
  {
    background-color: blue;
    
  }



.imagenav
{
text-align: center;

  width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;


}



.presentation
{
  font: 17px "CocoSharp Trial";
  src: url("polices/Coco-Sharp-Bold-trial.ttf");
  
}